@charset "UTF-8";
.bg-purple {
    background-color: rgba(114, 0, 53, 0.6) !important;
}

.bg-pink {
    background-color: rgba(163, 101, 130, 0.6) !important;
}

body {
    background-image: url("pink.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    background-color: pink;
    color: black;
    font-family: 'Chakra Petch', sans-serif;
}